@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(17, 17, 17);
    background-image: url("https://live.staticflickr.com/65535/53178665884_5e1a671d53_z.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contact-container  {
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background-color: #bdbdf1 ;
    box-shadow:  0 0 1rem  hsla(0, 0, 0, 16%);
    border-radius: 0.5rem;
    overflow: hidden;
}
.form-container{
    padding: 20px;

}
.form-container h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.contact-form{
   display: grid;
   row-gap: 1rem; 
}
.contact-form input, 
.contact-form textarea{
    width:auto 100%;
    border:none;
    outline: none;
    background: #2c2f48;
    padding: 10px;
    font-size: 0.9rem;
    color: white;
    border-radius: 0.4rem;
}
.contact-form textarea{
    resize:none;
    height: 200px;
}
.contact-form .send-button{
    border: none;
    outline: none;
    background: #00dbde;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;

}
.contact-form .send-button:hover {
    background: hsla(181, 100%, 44%, 0.8);
    transition: 0.3s all linear;

}
.map iframe{
    width: 100%;
    height: 100%;
}
